<!DOCTYPE html>
<html lang="en-US">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Target Zone Heart Rate Calculator</title>
  <link rel="stylesheet" href="styles.css">
</head>

<body>
  <div id="app">
    <header class="header">
      <h1>{{ header }}</h1>
    </header>
    <section class="age-heart-input">
      <form>
        <label for="age">Age</label>
        <input v-model.number="age" type="number" id="age" class="validate">
      </form>
      <form>
        <label for="restingHeartRate">Resting Heart Rate</label>
        <input v-model.number="restingHeartRate" type="number" id="restingHeartRate" class="validate">
      </form>
    </section>
    <section class="info">
      <a href="https://www.mayoclinic.org/healthy-lifestyle/fitness/expert-answers/heart-rate/faq-20057979"
        _target="blank">How
        do I find my resting heart rate?</a>
    </section>
    <section class="result">
      <header v-if="checkStatus">
        <h2>Intensity Scale</h2>
      </header>
      <main>
        <ul v-if="checkStatus">
          <li v-for="scale in percentScale">{{ scale }}</li>
        </ul>
        <ul v-if="checkStatus">
          <li v-for="percent in updatedHeartRateScale">{{ percent.toFixed(0) }}</li>
          <li>{{ updatedMaxHeartRate }}</li>
        </ul>
      </main>
    </section>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script> -->
  <script src="app.js"></script>
</body>

</html>